.MemberList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
    overflow: auto;
}

.MemberList h3 {
    color: #dcdcdc;
    margin-bottom: 10px;
    cursor: pointer;
}

.MemberList .member-item {
    background-color: #232631;
    color: #bebebe;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.MemberList .member-item:hover {
    background-color: #1e212a;
    color: #ffffff;
}

.MemberList .member-item:active {
    background-color: #0d0e14;
    color: #ffffff;
}

.member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-item span {
    cursor: pointer;
}
