.data-container {
    height: 50%;
    color: #bebebe;
    background-color: #2a2d3e;
    border-radius: 10px;
    padding: 0 20px;
}

.data-container .header {
    text-align: left;
    margin-left: 1%;
    font-size: 24px;
    color: #dcdcdc;
    padding: 10px 0;
    font-weight: bold;
}

.scroll-container {
    max-height: 316px;
    overflow-y: auto;
    margin-right: -22px;
    padding-right: 22px;
}

.scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #646a7a;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8d94a8;
}

.Dash-data table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.Dash-data th, .Dash-data td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #3f4256;
}

.Dash-data tr:last-child td {
    border-bottom: none;
}

.Dash-data th {
    color: #dcdcdc;
    font-size: 15px;
    border-bottom: 2px solid #3F4256FF;
}
