.manage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.manage-button {
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #b3b3b4;
    background-color: #232631;
    padding: 0 15px;
    transition-duration: 0.2s;
    width: 90%;
}

.manage-button:hover {
    background-color: #1e212a;
}
