.Dash {
  display: flex;
  flex-direction: column;
  align-items: center; /* this centers child block-level elements horizontally */
  justify-content: flex-start; /* this aligns children to start from top */
  width: 100%;
  background-color: #202231;
  height: 100%;
}

.Dash-main {
  width: 80%;
  text-align: center; /* this centers text */
  margin-top: 60px;
}

.Dash-main > div {
  margin-top: 25px;
}

.Dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  width: 100%;
  margin-top: 25px;
  text-align: left;
}

.Introduction {
  font-size: 20px;
}

.Introduction > h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  border: 5px;
  padding: 0;
  align-content: center;
}

.left-button, .right-button {
  padding: 10px;
  border: none;
  background-color: #2a2d3e;
  color: #bebebe;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.left-button {
  border-radius: 10px 0 0 10px;
}

.right-button {
  border-radius: 0 10px 10px 0;
}

.left-button:hover, .right-button:hover {
  background-color: #3a3d4e;
}

.left-button:active, .right-button:active {
  background-color: #535767;
}

.qr-button {
  padding: 10px;
  border: none;
  background-color: #2a2d3e;
  color: #bebebe;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-button:hover {
  background-color: #3a3d4e;
}

.qr-button:active {
  background-color: #535767;
}

.qr-button svg {
  color: white;
}

.household-list-button {
  border: none;
  background-color: #2a2d3e;
  color: #bebebe;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.household-list-button:hover {
  background-color: #3a3d4e;
}

.household-list-button:active {
  background-color: #535767;
}

.household-list-button svg {
  color: white;
}

.Dash-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  /* Allows the items to wrap as needed */
  border-radius: 10px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* This will make the item grow to take up any extra space */
  flex-shrink: 1; /* This will make the item shrink if the space is less */
  min-width: 200px; /* This is a minimum width to prevent the items from becoming too small. Adjust as necessary */
  box-sizing: border-box; /* This includes padding and border in the item's total width */
}

.Dash-chart {
  padding: 20px 30px 30px;
  background-color: #2a2d3e;
  border-radius: 10px;
}

.chart-header {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dash-chart > h2 {
  color: #dcdcdc;
  margin: 0;
}

.chart-controls {
  display: flex;
  gap: 10px;
  margin-right: 12px;
}

.chart-controls button {
  padding: 5px 10px;
  background-color: #2a2d3e;
  color: #bebebe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.chart-controls button:hover {
  background-color: #3a3d4e;
}

.chart-controls button:active {
  background-color: #535767;
}

.Dash-data {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  border-radius: 10px;
  background-color: #2a2d3e;
}

.Household-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1100px;
  position: relative;
}

.Household-menu {
  width: 25%;
  padding: 15px;
  background-color: #2a2d3e;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
  overflow: auto;
  margin-right: 20px;
  height: 100%;
  position: relative;
}

.User-data {
  width: 75%;
}

.no-household-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
  width: 100%;
  height: 90%;
}

.manage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
