.users-tab-content {
    background-color: #525772;
    width: 90%;
    height: 90% !important;
    border-radius: 10px;
    overflow-y: scroll;
}

.users-tab-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #646a7a;
}

.users-tab-content::-webkit-scrollbar {
    width: 12px;
}

.users-tab-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8d94a8;
}

.pending-invite-tab-content {
    background-color: #525772;
    width: 90%;
    height: 90% !important;
    border-radius: 10px;
    overflow-y: scroll;
}

.pending-invite-tab-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #646a7a;
}

.pending-invite-tab-content::-webkit-scrollbar {
    width: 12px;
}

.pending-invite-tab-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8d94a8;
}

.pending-invite-notification {
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.pending-invites-subtitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.invites-tab-contents {
    width: 90%;
    height: 100%;
}

.invites-subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.invites-subtitle p{
    font-size: 25px;
}

.invites-inputs-container {
    width: 100%;
    height: 70%;
}

.invites-email-nickname-inputs {
    width: 100%;
    height: 40%;
    margin-bottom: 25px;
}

.invites-email-input {
    margin-bottom: 15px;
}

.invites-email-input p, .invites-nickname-input p {
    margin-bottom: 5px;
}

.invites-role-input {
    width: 100%;
    height: 60%;
}

.invites-role-input p{
    margin-bottom: 5px;
}

.invites-role {
    margin-left: 10px;
}

.invites-role label {
    margin-left: 10px;
}
