.HouseholdSelect {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #232631;
    color: #bebebe;
    font-size: 20px;
}

.HouseholdSelect:hover, .HouseholdSelect:focus {
    background-color: #1e212a;
    color: #ffffff;
    outline: none;
}
