@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.manage-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.manage-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 800px;
    padding-top: 30px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: relative;
}

.manage-modal-content {
    width: 100%;
    height: 100%;
}

.manage-close-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.manage-close-button:hover,
.manage-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.manage-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5%;
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
}

.manage-title h2 {
    font-size: 25px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.manage-close-button:hover,
.manage-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tab-button {
    flex-grow: 1;
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background-color: #2a2d3e;
    transition-duration: 0.2s;
}

.tab-button.active {
    background-color: #42465d;
    color: white;
}

.manage-modal-navigation {
    display: flex;
    height: 7%;
}

.main-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88%;
    background-color: #42465d;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tab-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.save-cancel-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

.save-changes-button button {
    background-color: #619b63;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 20px;
}

.save-changes-button button:hover {
    background-color: #467947;
}

.cancel-button button {
    background-color: #515671;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 20px;
}

.cancel-button button:hover {
    background-color: #303348;
}

.sent-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
}

.sent-button button {
    background-color: #619b63;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 20px;
    width: 200px;
}

.sent-button button:hover {
    background-color: #467947;
}

.users-error-message p {
    color: #b05151;
    font-size: 17px;
    margin-top: 5px;
}