@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

.main-about-container {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        background-color: black;
    
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
}

.about-content h2 {
    margin-top: 75px;
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 5px #8d78a5;
}

.about-content p {
    font-size: 25px;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
}

.content-containerR {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c515e;
    border-radius: 15px;
    padding: 20px;
    flex-direction: row;
    width: 1000px;
    min-height: 500px;
    margin: 50px auto;
    overflow-y: auto;
    background-image: radial-gradient(circle 100vh at 80% 0%, #000000 50%, #000000 30%, #53254e 80%, #8d78a5 90%, #e0e0e0);
}

.content-containerL{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c515e;
    border-radius: 15px;
    padding: 20px;
    flex-direction: row;
    width: 1000px;
    min-height: 500px;
    margin: 50px auto;
    overflow-y: auto;
    background-image: radial-gradient(circle 100vh at 10% 0%, #000000 50%, #000000 30%, #53254e 80%, #8d78a5 90%, #e0e0e0);
}

.image-container {
    flex: 1;
    margin-right: 10px;
}
.image-container img{
    width: 80%;
    height: auto;
    opacity: 70%;
    border-radius:20px;
    overflow:hidden;
}

.text-container {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.text-container h3 {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 20px #8d78a5;
}

.text-container p {
    font-size: 20px;
}



