.main-email-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 50px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.email-header {
    margin-bottom: 30px;
    font-size: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email-field h2 {
    margin-bottom: 10px;
    font-size: 17px;
}

.email-field input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 15px;
}

.send-button {
    width: 40%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    padding: 5px;
    background-color: #4a794a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 25px;
}

.manage-close-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.email-sent-message {
    color: green;
    width: 40%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    padding: 5px;
    background-color: #4a794a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

