@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Remove default body margin */
}

.main-login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 600px;
    padding: 70px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.welcome-container {
    margin-bottom: 75px;
}

.welcome-container h3 {
    font-size: 18px;
}


.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.email-password h2 {
    margin-bottom: 10px;
    font-size: 17px;
}

.email-password input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 15px;
}

.signin-button {
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    padding: 5px;
    background-color: #4a794a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.join-container {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #8e8fa1;
}

.join-container a {
    text-decoration: none;
}
