@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Remove default body margin */
}

.main-signin-container {
    width: 100vw; /* full viewport width */
    height: 100vh; /* full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 700px;
    padding: 70px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.create-account-container {
    margin-bottom: 40px;
}

.create-account-container h3 {
    font-size: 18px;
}

.signin-container {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #8e8fa1;
}

.signin-container a {
    text-decoration: none;
}


.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-pair {
    display: flex;
    justify-content: space-between;
}

.input-pair .inputs {
    width: 45%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.inputs h2,
.inputs label {
    margin-bottom: 10px;
    font-size: 17px;
}

.inputs input,
.inputs select {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 15px;
}

.signup-button {
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    padding: 5px;
    background-color: #4a794a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.signup-warning p{
    font-size: 15px;
    margin-bottom: 0;
    color: #888ca8;
 }
