@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: white !important;
    margin: 0.5em;
    text-align: center;
    position: relative;
    padding: 10px 20px;
}

.nav-link::after {
    content: '';
    display: inline-block;
    width: 50%;
    height: 2px;
    background: transparent;
    margin-top: 30px;
    position: absolute;
    left: 25%;
}

.nav-link:not(.get-started-btn):hover {
    background: linear-gradient(to right, #d1475d, #5e00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link.active::after {
    background: #e74e63;
}

.nav {
    background-color: rgba(33, 35, 50, 0);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-left, .nav-middle, .nav-right {
    display: flex;
    gap: 1em;
    margin-top: 10px;
}

.nav-left {
    margin-left: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.logo {
    width: 215px;
    height: 50px;
}

.get-started-btn {
    position: relative;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: background-color 0.3s;
    background: linear-gradient(to right, #24203c, #24203b) padding-box,
    linear-gradient(to right, #d1475d, #5e00ff) border-box;
    overflow: hidden;
}

.get-started-btn:hover {
    background: linear-gradient(to right, #d1475d, #5e00ff) padding-box,
    linear-gradient(to right, #d1475d, #5e00ff) border-box;
}

.get-started-btn-text {
    color: white !important;
}

.get-started-btn a {
    text-decoration: none;
}
