.notification-popup {
    margin-top: 10px;
    background-color: #393c50;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    width: 450px;
    min-height: 500px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.notification-popup::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #393c50 transparent;
}

.notification-title {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 18px;
    color: white !important;
}

.notification-category {
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #5a5e77;
    padding-bottom: 10px;
    align-items: center;
}

.notification-category:last-child {
    border-bottom: none;
}

.notification-subtitle {
    margin-bottom: 5px;
    font-size: 15px;
    color: white !important;
}

.notification-main {
    display: flex;
    background-color: #393c4f;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    transition-duration: 0.2s;
    text-align: left;
    justify-content: space-between;
}

.notification-main:hover {
    background-color: #2e3041;
}

.notification-message {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification-text {
    color: white;
    font-size: 13px;
    margin-left: 10px;
}

.notification-text p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.notification-image {
    margin: 10px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.notification-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.notification-accept-button, .notification-decline-button {
    border: none;
    color: white;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    width: 90px;
    transition-duration: 0.2s;
}

.notification-accept-button {
    background-color: #629d62;
}

.notification-decline-button {
    background-color: #9d5e5e;
}

.notification-accept-button:hover {
    background-color: #4e7c4e;
}

.notification-decline-button:hover {
    background-color: #814e4e;
}

.notification-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    margin-right: 15px;
    transition-duration: 0.2s;
}

.notification-close-button:hover {
    color: #808080;
}

.pending-invite-user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #646987;
    border-radius: 7px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.pending-invite-user-item:hover {
    background-color: #3a3d52;
}

.pending-invite-email {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100px;
}

.pending-invite-date p{
    color: #9397ab;
    margin-bottom: 0;
}

.pending-invite-notification-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pending-invite-notification-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    margin-right: 15px;
    transition-duration: 0.2s;
}

.pending-invite-notification-close-button:hover {
    color: #808080;
}

.removed {
    opacity: 0.3;

}

.no-notifications {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #82869a;
    margin-top: 40%;
}

