@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.main-home-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(33, 35, 50, 0.7), rgba(33, 35, 50, 0.7)), url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.welcome-content {
    margin-left: 300px;
    margin-right: 50%;
    width: 800px;
    text-align: left;
}

.welcome h1 {
    font-size: 85px;
}

.welcome p {
    margin-top: 50px;
    font-size: 30px;
    color: #8d8d8d;
}

.join-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    background-clip: padding-box, border-box;
    box-sizing: border-box;
    background: linear-gradient(to right, #24203c, #24203b) padding-box,
    linear-gradient(to right, #d1475d, #5e00ff) border-box;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    margin-top: 60px;
}

.join-now-btn:hover {
    background: linear-gradient(to right, #d1475d, #5e00ff) padding-box,
    linear-gradient(to right, #d1475d, #5e00ff) border-box;
}

.join-now-btn span.button-text {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.join-now-btn .arrow {
    color: white;
}

.join-now-btn a {
    text-decoration: none;
}