/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Poppins" , sans-serif;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Poppins", sans-serif;*/
/*    min-height: 100vh;*/
/*    width: 100%;*/
/*    background: #c8e8e9;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.contact-container-main {
    width: 100%;
    background: #000000;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-container-main .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-container-main .contact-content .contact-left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.contact-content .contact-left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.contact-content .contact-left-side .contact-details {
    margin: 14px;
    text-align: center;
}

.contact-content .contact-left-side .contact-details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.contact-content .contact-left-side .contact-details .contact-topic {
    font-size: 18px;
    font-weight: 500;
}

.contact-content .contact-left-side .contact-details .contact-text-one,
.contact-content .contact-left-side .contact-details .contact-text-two {
    font-size: 14px;
    color: #afafb6;
}

.contact-container-main .contact-content .contact-right-side {
    width: 75%;
    margin-left: 75px;
}

.contact-content .contact-right-side .contact-topic-text {
    font-size: 25px;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
}

.contact-right-side .contact-input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.contact-right-side .contact-input-box input,
.contact-right-side .contact-input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.contact-right-side .contact-message-box {
    min-height: 110px;
    background-color: #fff;
}

.contact-right-side .contact-input-box textarea {
    padding-top: 6px;
}

.contact-right-side .contact-button {
    display: inline-block;
    margin-top: 12px;
}

.contact-right-side .contact-button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #53254e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-button input[type="button"]:hover {
    background: #5029bc;
}

@media (max-width: 950px) {
    .contact-container-main {
        width: 100%;
        padding: 30px 40px 40px 35px ;
    }

    .contact-container-main .contact-content .contact-right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .contact-container-main {
        margin: 40px 0;
        height: 100%;
    }

    .contact-container-main .contact-content {
        flex-direction: column-reverse;
    }

    .contact-container-main .contact-content .contact-left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-container-main .contact-content .contact-left-side::before {
        display: none;
    }

    .contact-container-main .contact-content .contact-right-side {
        width: 100%;
        margin-left: 0;
    }
}
