@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.main-qr-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 600px;
    padding: 70px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.qr-header {
    margin-bottom: 75px;
}

.qr-header h3 {
    font-size: 18px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.email-password h2 {
    margin-bottom: 10px;
    font-size: 17px;
}

.email-password input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 15px;
}

.send-button {
    width: 40%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    padding: 5px;
    background-color: #4a794a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 25px;
}

.manage-close-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.manage-close-button:hover,
.manage-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.qr-code {
    margin: 30px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;    /* Adjust this to create a square */
    height: 600px;   /* Adjust this to create a square */
    padding: 70px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}
