.no-data, .no-selected-user, .loading {
    background-color: #2a2d3e;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
}

.message {
    color: #898da1;
    font-size: 20px;
    margin-top: 30px;
}