@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.household-list-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.household-list-container {
    width: 100%;
    height: 250px; /* Fixed height for the list */
    overflow-y: scroll;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #373b4b;
}

.household-list-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 460px; /* Fixed width or you can set max-width */
    padding: 40px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: relative;
    overflow-y: auto; /* Make it scrollable if content is taller than max-height */
}


.household-list-close-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

.manage-close-button:hover,
.manage-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 17px;
}

.household-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
    overflow: auto;
    margin-top: 5px;
    gap:10px;
}

.household-list .household-item {
    position: relative; /* Add this to position the pseudo-element */
    background-color: #373b4b;
    color: #bebebe;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.household-list .household-item::after {
    content: ""; /* Empty content to generate the element */
    position: absolute; /* Absolute positioning */
    left: 0; /* Align to the left edge */
    bottom: -5px; /* Align to the bottom edge */
    width: 100%; /* Full width */
    height: 1px; /* Thickness of the line */
    background-color: #646a7a; /* Color of the line */
}

/* If you want to remove the line from the last item */
.household-list .household-item:last-child::after {
    display: none;
}

.household-list .household-item:hover {
    background-color: #1e212a;
    color: #ffffff;
}

.household-list .household-item:active {
    background-color: #0d0e14;
    color: #ffffff;
}

.household-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.household-item span {
    cursor: pointer;
}

.household-item .icon-container {
    display: flex;
    gap: 10px;
}

.leave-button {
    background-color: #e04646;
    border: none;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.create-household {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #373b4b;
    padding: 10px;
    border-radius: 10px;
    color: #bebebe;
    font-size: 14px;
}

.create-household input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background-color: #2d3147;
    color: white;
}

.create-household button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.create-household button:hover {
    background-color: #45a049;
}


.household-list-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #646a7a;
}

.household-list-container::-webkit-scrollbar {
    width: 12px;
}

.household-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8d94a8;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #646a7a;
    margin: 20px 0; /* Adjust this value to set the spacing around the line */
}



