.UserList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
    overflow: auto;
}

.UserList h3 {
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
}

.UserList .user-item {
    background-color: #656a88;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.UserList .user-item:hover {
    background-color: #3a3d52;
    color: #ffffff;
}

.UserList .user-item:active {
    background-color: #0d0e14;
    color: #ffffff;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-item span {
    cursor: pointer;
}

.user-item .icon-container {
    display: flex;
    gap: 10px;
}

.nickname-email {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.nickname-email p {
    margin-bottom: 0;
    color: #9397ab;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    color: white;
    transition: transform 0.3s;
    font-size: 10px;
}

.arrow.down {
    transform: rotate(0deg);
}

.arrow.up {
    transform: rotate(180deg);
}

.user-dropdown select {
    cursor: pointer;
}

.user-close-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    margin-right: 10px;
    transition-duration: 0.2s;
}

.user-close-button:hover {
    color: #808080;
}

.user-role-display {
    margin-right: 10px;
}

