.date-picker {
    display: flex;
    align-items: center;
}

.date-picker input {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #232631;
    color: #bebebe;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    width: 90px;
    align-items: center;
    text-align: center; /* Add this line */
}

.date-picker input::placeholder {
    color: #bebebe;
}

.date-picker button {
    padding: 5px 10px;
    background-color: #232631;
    color: #bebebe;
    font-size: 12px;
    border: none;
    border-radius: 7px;
}

.date-picker button:hover {
    background-color: #1e212a;
    color: #fff;
}
