.time-range-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 1%;
}

.time-range-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;

}

.time-range-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #232631;
    color: #bebebe;
    font-size: 12px;
    border: none;
    border-radius: 7px;
}

.time-range-buttons button:hover {
    background-color: #1e212a;
    color: #fff;
}