@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.delete-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.delete-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 600px;
    padding: 70px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: relative;
}

.delete-close-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.manage-close-button:hover,
.manage-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.delete-modal-content h2 {
    font-size: 18px;
    margin-bottom: 75px;
}

.delete-modal-content p {
    margin-bottom: 20px;
    font-size: 17px;
}

.delete-modal-content button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;  /* adjust as needed */
}

.yes-button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    background-color: #8c3434;
    transition: background-color 0.3s ease;
}

.yes-button:hover {
    background-color: #6e2828;
}

.no-button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    background-color: #353d52;
    transition: background-color 0.3s ease;
}

.no-button:hover {
    background-color: #2a3341;
}

