@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.edit-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.edit-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 600px;
    padding: 70px;
    background-color: rgba(38, 42, 63, 0.68);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: relative;
}

.edit-close-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.manage-close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.manage-close-button:hover,
.manage-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-modal-content h2 {
    font-size: 18px;
    margin-bottom: 75px;
}

.edit-modal-content p {
    margin-bottom: 20px;
    font-size: 17px;
}

.save-changes-button {
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px !important;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 20px;
}

.save-changes-button:hover {
    background-color: #1e5421;
}

