.main {
    display: flex;
    background-color: #2a2d3e;
    text-align: left;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    font-size: 10px;
}

.image {
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px
}

.main > h3 {
    font-size: 15px;
    margin: 0;
}
